<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.crab2died.myboot.mapper.DemoMapper">

    <select id="list" parameterType="map" resultType="com.github.crab2died.myboot.domain.Demo">
        SELECT
          id,
          demo_column demoColumn
        FROM
          demo
        WHERE
          demo_column LIKE CONCAT('%', #{demo},'%')
    </select>
</mapper>